@import url('https://fonts.googleapis.com/css?family=Offside');

/* .home-carousel h1, .home-carousel p, .navbar-nav, */

.heading h1, .heading h2, .heading h3, .heading h4, 
.heading h5, .heading h6, .home-carousel p, .navbar-nav,
.home-carousel h1, .home-carousel p, .home-carousel li,
.box-simple h3, #footer h4, .navbar ul.dropdown-menu li a {
    text-transform: lowercase;
    font-family: "Offside", cursive;
}

.navbar ul.nav > li > a {
    text-decoration: none;
    text-transform: lowercase;
}

.home-carousel {
    background: url('../img/mission_control_60s.jpg') center;
    background-size: cover;
}

.home-carousel .dark-mask {
    opacity: 0.6;
    background: #555555;
}

#heading-breadcrumbs {
    background: url('../img/armstrong_apollo11.jpg') center;
    background-size: cover;
}

#heading-breadcrumbs h1 {
  color: white;
  text-transform: lowercase;
  font-family: "Offside", cursive;
}

#heading-breadcrumbs .container {
  padding: 5px, 0px;
  background: rgba(85, 85, 85, 0.6);
}

img[alt=loc] {
    width: 100%;
}