<!-- *** LEFT COLUMN *** -->
<div class="col-md-9" id="blog-listing-medium">
    {{ range .Paginator.Pages }}
    <section class="post">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a href="{{ .Permalink }}">
                        {{ if .Params.bio_image }}
                        <img src="{{ .Site.BaseURL }}{{ .Params.bio_image }}" class="img-responsive img-headshot" alt="">
                        {{ else }}
                        <img src="{{ .Site.BaseURL }}img/placeholder.png" class="img-responsive img-headshot" alt="">
                        {{ end }}
                    </a>
                </div>
            </div>
            <div class="col-md-10">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <div class="clearfix"></div>
                <p class="intro">{{ .Content }}</p>
            </div>
        </div>
    </section>
    {{ end }}

    <ul class="pager">
        {{ if .Paginator.HasPrev }}
        <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; previous</a></li>
        {{ else }}
        <li class="previous disabled"><a href="#">&larr; previous</a></li>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">next &rarr;</a></li>
        {{ else }}
        <li class="next disabled"><a href="#">next &rarr;</a></li>
        {{ end }}
    </ul>
</div>
<!-- /.col-md-9 -->

<!-- *** LEFT COLUMN END *** -->

<!-- *** RIGHT COLUMN ***
_________________________________________________________ -->

<div class="col-md-3">

    <!-- *** MENUS AND WIDGETS *** -->

    {{ partial "sidebar.html" . }}

    <!-- *** MENUS AND FILTERS END *** -->

</div>
<!-- /.col-md-3 -->

<!-- *** RIGHT COLUMN END *** -->