{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw8">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>

        {{ if or (.Params.show_title) (not .Params.featured_image) }}
        <h1 class="f1">
          {{ .Title }}
        </h1>
        {{ end }}

        {{ if .Params.bio_image }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-20-ns">
          {{ $featured_image := (trim .Params.bio_image "/") | absURL }}
          <img src="{{ $featured_image }}" class="db center mb3" alt="image from {{ .Title }}">
        </div>
        {{ end }}

        {{ if isset .Params "trainers" }}
        <span class="f6 b helvetica tracked">
          Trainers:
        </span>
        {{ range .Params.trainers }}
        {{ with $.Site.GetPage "page" . }}
        <a href="{{ .URL }}" class="f6 link dim br2 ba ph3 pv1 mb2 dib black">{{ .Title }}</a> 
        {{ end }}{{ end }}{{ end }}

        {{ if isset .Params "speakers" }}
        <span class="f6 b helvetica tracked">
          Speakers:
        </span>
        {{ range .Params.speakers }}
        {{ with $.Site.GetPage "page" . }}
        <a href="{{ .URL }}" class="f6 link dim br2 ba ph3 pv1 mb2 dib black">{{ .Title }}</a> 
        {{ end }}{{ end }}{{ end }}

        {{ if isset .Params "talks" }}
        <span class="f6 b helvetica tracked">
          Talks:
        </span>
        {{ range .Params.talks }}
        {{ with $.Site.GetPage "page" . }}
        <a href="{{ .URL }}" class="f6 link dim br2 ba ph3 pv1 mb2 dib black">{{ .Title }}</a> 
        {{ end }}{{ end }}{{ end }}

        {{ if isset .Params "training" }}
        <span class="f6 b helvetica tracked">
          Training:
        </span>
        {{ range .Params.training }}
        {{ with $.Site.GetPage "page" . }}
        <a href="{{ .URL }}" class="f6 link dim br2 ba ph3 pv1 mb2 dib black">{{ .Title }}</a> 
        {{ end }}{{ end }}{{ end }}

      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    </article>
    {{ if .Params.Sidebar }}
    <aside class="ph3 mt2 mt6-ns">
      {{ partial "menu-contextual.html" . }}
    </aside>
    {{ end }}
  </div>
{{ end }}
